@model IEnumerable<Domain.Menu>

@{
    ViewData["Title"] = "Menus";
    ViewData["Results"] = Model.Count();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="../Shared/IndexHeader" />

<div id="" class="card-list columns is-multiline is-marginless">



    @foreach (var item in Model)
    {
        <partial name="../Shared/ModelCards/MenuModelCard" model="item" />

    }
</div>