@{
    String[] path = { "" };
    if (ViewData["Path"] != null)
    {
        path = (String[])ViewData["Path"];
    }
}
<html class="hasBreadcrumb conceptual has-default-focus js" lang="en-us">
<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"] - EasyMeal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/app.light.css" />
    <link rel="stylesheet" href="~/css/site.light.css" />
    <link rel="stylesheet" href="https://statics-uhf-wus.akamaized.net/west-european/shell/_scrf/css/themes=default.device=uplevel_web_pc/e9-4413b1/4e-bb306d/a9-963a11/10-aee09b/51-465167/1d-9730ee/34-521645/51-6d3a1e?ver=2.0">

</head>
<body lang="en-us" dir="ltr" class="js-focus-visible" cz-shortcut-listen="true">
    <div class="header-holder has-default-focus">
        <div id="headerAreaHolder">
            <div id="headerArea" class="uhf">
                <div id="headerRegion">
                    <header role="banner" class="c-uhfh context-uhf c-sgl-stck c-category-header f-transparent">
                        <div class="js-global-head f-closed global-head-cont theme-dark">
                            <div class="c-uhfh-gcontainer-st">
                                <a id="uhfLogo" class="c-logo c-sgl-stk-uhfLogo" asp-action="Index" asp-controller="Home">
                                    <img alt="" class="c-image x-hidden-focus" src="~/img/logo-banner-top.png" style="height: 30px; width: auto; margin-top: -5px;" role="presentation" aria-hidden="true">
                                </a>
                                <nav id="uhf-g-nav" aria-label="Contextual menu" class="c-uhfh-gnav">
                                    <ul class="js-paddle-items">
                                        <li class="single-link js-nav-menu uhf-menu-item">
                                            <a id="c-shellmenu_0" class="c-uhf-nav-link" href="https://dotnet.microsoft.com/learn/dotnet/what-is-dotnet">About</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </header>
                </div>
            </div>
        </div>
    </div>
    <div class="content-header uhf-container has-padding has-default-focus">
        <nav class="has-padding-none-mobile">
            <ul id="page-breadcrumbs" class="breadcrumbs">
                <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                @foreach (var crumb in path)
                {
                    <li><a>@crumb</a></li>
                }
            </ul>
        </nav>
        <div class="action-bar">
            <ul class="action-list">
                <li class="is-unstyle-action-list-item">
                    <div class="dropdown has-caret" auto-align="">
                        <button class="dropdown-trigger button is-text is-small is-icon-only-touch" aria-controls="theme-menu" aria-expanded="false" title="My Orders">
                            <span class="icon">
                                <i class="fas fa-utensils"></i>
                            </span>
                            <span class="action-item-text is-hidden-portrait">My Orders</span>
                        </button>
                    </div>
                </li>
                <li class="is-unstyled-action-list-item">
                    <a class="docs-sign-in auth-status-determined not-authenticated button is-text has-text-primary is-small" href="#">Sign Out</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="mainContainer uhf-container  has-top-padding  has-default-focus">
        <div class="columns has-large-gaps ">
            <section class="primary-holder column is-full-desktop">
                <div class="columns has-large-gaps ">
                    <div id="main-column" class="column  is-full is-full-desktop ">
                        <main id="main" role="main" class="content x-hidden-focus">
                            @RenderBody()
                        </main>
                    </div>
                </div>
            </section>
        </div>
    </div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
    </script>

    <script src="https://kit.fontawesome.com/e206531763.js" crossorigin="anonymous"></script>

</body>


</html>