@model IEnumerable<EasyMeal.Core.Domain.Meal>

@{
    ViewData["Title"] = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Path"] = new String[] { "Menu", "Week", ViewBag.WeekNumber ?? "Unknown"};
    ViewBag.Checkout = true;
    bool showMeals = true;
    if (Model.Count() == 0)
    {
        showMeals = false;
    }
    bool matchesWeek = EasyMeal.Core.Domain.WeekMenuEM.Week(DateTime.Today).ToString().Equals(ViewBag.WeekNumber);
    ViewBag.Match = matchesWeek;
}

<div class="container" style="padding-right: -250px;">
    <div class="row">
        <div class="col-8">
            <h1>Menu for week @ViewBag.WeekNumber - @ViewBag.Year</h1>
            <h3>@ViewBag.DateString</h3>
            @if (!matchesWeek)
            {<h3>Notice : this menu is not yet complete and is subject to change. Therefore you cannot yet order a meal here.</h3>}
            @if (showMeals)
            {
                @foreach (var day in ViewBag.DaysOfWeek)
                {
                    int i = 1;
                    if (Model.Where(m => m.DateValid.DayOfWeek.Equals(day)).Count() > 0)
                    {
                        <h4>
                            <button style="margin-top: -20px; padding: 10px; margin-bottom: -8px; min-width: 100%;" class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapse-@day" aria-expanded="false" aria-controls="collapseExample">
                                @day <i style="margin-left: 10px" class="far fa-minus-square"></i>
                            </button>
                        </h4>
                        <div class="collapse show" id="collapse-@day">
                            <div id="" class="card-list is-list-view is-multiline is-marginless border" style="padding: 10px; padding-top:30px">
                                @foreach (var item in Model.Where(m => m.DateValid.DayOfWeek.Equals(day)))
                                {
                                    <h4 style="margin-left:12px; margin-top:0px;">Meal #@i </h4>
                                    if (ViewBag.DishesPerMeal.ContainsKey(item.Id))
                                    {
                                        <partial name="../Shared/ModelCards/DishModelCard" model="item" />
                                    }
                                    else
                                    {
                                        <h4>No dishes in this menu</h4>
                                    }
                                    i++;
                                }
                            </div>
                        </div>
                    }
                }
            }
            else
            {
                <h4>No menu present for this week :(</h4>
            }
        </div>
        <div class="col-4">
            <partial name="../Shared/ModelCards/OrderCard" model="ViewBag.SortedOrders;" />
        </div>
    </div>
</div>

