@model IEnumerable<EasyMeal.Core.Domain.ClientOrder>
@{
    ViewData["Title"] = "Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Path"] = new String[] { "User", User.Identity.Name, "Orders" };
    ViewBag.Checkout = false;
    ViewBag.ShowTotal = false;

    int i = 0;
}

<h1>Orders</h1>
<h3>All receipts for @User.Identity.Name</h3>

<div class="scrolling-wrapper">
        <div class="container-fluid">
            <div class="row">
                @foreach (var keyVal in ViewBag.WeeksOrdered)
                {

                        <div class="col-4">
                            <h3>
                                Ordered for week @keyVal.Key
                            </h3>

                            @if (EasyMeal.Core.Domain.Extensions.Week(DateTime.Today)+1 == keyVal.Key)
                            {
                                <div style="width: 100%; margin-top: -40px" class="text-right">
                                    <i><a class="btn btn-danger">Cancel order</a></i>
                                </div>
                            }


                            <partial name="../Shared/ModelCards/OrderCard" model="keyVal.Value" />
                        </div>

                        i++;
                }
            </div>
        </div>
</div>