@model IEnumerable<Domain.Meal>

@{
    ViewData["Title"] = "Meals";
    ViewData["Results"] = Model.Count();
}

<partial name="../Shared/IndexHeader" />



<div id="" class="card-list columns is-multiline is-marginless">



    @foreach (var item in Model)
    {
        <partial name="../Shared/MealModelCard" model="item" />

    }
</div>