<!-- Item count and sort -->
<div class="columns is-mobile is-multiline" style="padding-left: 15px; align-items: center; margin-bottom: 0;">

    <div class="column is-12-mobile is-12-tablet is-2-desktop has-text-weight-semibold">

        <br><div style="display: inline;">

            @ViewData["Results"] result(s)&emsp;&emsp;<a class="btn btn-info" asp-action="Create">New</a>

        </div>
    </div>

</div>